* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
  background-color: antiquewhite;
}

main {
  margin: 0 auto;
  max-width: 1440px;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

/**************************/
.cardContainer {
  max-width: 1440px;
  margin: 0 auto;
}  

.one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: stretch; */
} /* flex container  */
.two {
  display: grid;
} /* grid container  */

@media (min-width: 30em) {
  .two {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  } /* grid container  */
}

.card {
  /* width: fit-content; */
  max-width: 300px;
  height: auto;
  background-color: aliceblue;
  border-radius: 20px;
} /* flex or grid childern */

.cardImg img {
  border-radius: 20px 20px 0px 0px;
}

/* body aka text content */
.cardBodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
}
.cardTitle {
  max-height: max-content;
  margin-bottom: 0.5rem;
}
.cardCopy {
  margin-top: 1rem;
}

.cardFooterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  padding-inline: 2rem;
} /* flex container  */